<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.snowlive">

    <!-- 권한 설정 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 앱 설정 -->
    <application
        android:usesCleartextTraffic="true"
        tools:replace="android:label"
        android:label="스노우라이브"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon">

        <!-- 기본 알림 채널 설정 -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="high_importance_channel" />

        <!-- 메인 액티비티 설정 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Flutter 기본 설정 -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- 앱 실행 인텐트 필터 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Flutter 푸시 알림 클릭 인텐트 필터 -->
            <intent-filter>
                <action android:name="FLUTTER_NOTIFICATION_CLICK"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- 알림 관련 메타 데이터 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <meta-data android:name="com.transistorsoft.locationmanager.license" android:value="50381855bd42ab868e695ed0505c45399dccb50b20bd97a791994898b1fcf8eb"/>

        <!-- 기타 액티비티 설정 -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <!-- 포어그라운드 서비스 설정 -->
        <service
            android:name="com.pravera.flutter_foreground_task.service.ForegroundService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:foregroundServiceType="location" />

        <!-- 알림 채널 설정 (포어그라운드 서비스용) -->
        <meta-data
            android:name="com.google.android.gms.location"
            android:value="default_notification_channel_id" />

    </application>

</manifest>
